.table-responsive {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(red, green, blue, alpha);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th  {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
}

td  {
    padding: 15px;
    border-bottom: 1px solid white;
    font-size: 14px;
    color: #444;
}

tbody tr:nth-child(even)    {}